
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body img {
  max-width: 100%;
  max-height: 768px;
  width: auto;
  height: auto;
  margin-bottom: 10px; /* Optional: Add some margin between the images if desired */
}
